*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-blue{
    background-color: #03B4EE;
    color: #fff;
    font-weight: 700;
}
.jumbotron-home{
    border-radius: 0px !important;
background-color: black !important;
}

.text-white{
    color: #fff;
}

.id-index{
    background-color: #03B4EE;
    padding: 3px 9px;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}

.custom-margin-for-p{
    font-size: 15px;
    font-weight: 500;
    margin: 0px !important;
}
